html{
    --my_blue: #4273af;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 100%;
    margin: 0% 0%;
}

h1{
    font: bold;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
}

#titulo-navegacao{
    background-color: var(--my_blue);
    text-align: center;
    color: white;
    padding: 10px 0;
}

#titulo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width:30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

#titulo h1{
    width:80%;
    text-align: right;
}

#titulo img{
    width: 20%;
}

#navegacao a{
    margin: 0px 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#navegacao a:hover{
    color: #d9d9d9;
}



.cardapio{
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
}

.imagem-cardapio{
    height: 100px;
}

.titulo-cardapio{
    color: #4273af;
}

.btn_pedido{
    background-color: red;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    width: 80%;
    height: 30px;
}

.bebidas-cardapio, .pizzas-cardapio{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.bebida, .pizzas{
    margin: 20px 0;
    width: 33%;
}

.aba{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.aba-option{
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    outline:none; 
    border:none;
    background-color: Transparent;
    cursor: pointer;
}

.aba-option.active{
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.aba-option.active:after{
    text-decoration: none;
    position: absolute;
    bottom: -10px;
    left:0;
    content: '';
    height: 3px;
    width: 100%;
    background-color: blue;
    transition: -1s;
}

.aba hr{
    color: gray;
    margin: 7px 0;
}

.tab-content{
    display: none;
}
  
.tab-content.active {
    display: block;
}

.aba li{
    display:inline-block;
    border-bottom: 0;
}

.cadastro-contain{
    width: 20%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cadastro-contain h3{
    background-color: var(--my_blue);
    color: white;
    font-weight: bold;
    margin: 40px 0 0 0;
    padding: 10px 10px;
    border-radius: 5px 5px 0 0;
}

.cadastro-contain p{
    background-color: var(--my_blue);
    color: white;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 10px;
}

.cadastro-contain form{
    background-color: #d9d9d9;
    padding: 20px 0;
    border-radius: 0 0 5px 5px;
}

.form-control{
    margin-bottom: 10px;
}

.alert.alert-danger{
    color: red;
    margin: 10px 0;
}

.alert.alert-sucess{
    color: green;
    margin: 10px 0;
}

.btn-form{
    color: white;
    background-color: var(--my_blue);
    padding: 5px 5px;
    margin-bottom: 20px;
}

.go-to-cadastrar{
    text-decoration: None;
    color: white;
    background-color: var(--my_blue);
    padding: 5px 5px;
}