html{
    --my_blue: #4273af;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 100%;
    margin: 0% 0%;
}

h1{
    font: bold;
    padding: 10px;
    margin-top: 0px;
    text-align: center;
}

#titulo-navegacao{
    background-color: var(--my_blue);
    text-align: center;
    color: white;
    padding: 10px 0;
}

#titulo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width:30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

#titulo h1{
    width:80%;
    text-align: right;
}

#titulo img{
    width: 20%;
    height: 20%;
}

#navegacao a{
    margin: 0px 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#navegacao a:hover{
    color: #d9d9d9;
}

.cardapio{
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
}

.imagem-cardapio{
    width: 50%;
}

.img-carrinho{
    width: 2%;
}

.titulo-cardapio{
    color: #4273af;
}

.btn_pedido{
    background-color: red;
    border-radius: 5px 5px;
    color: white;
    font-weight: bold;
    width: 80%;
    height: 30px;
    cursor: pointer;
}

.bebidas-cardapio, .pizzas-cardapio, .combos-cardapio{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.bebida, .pizzas, .combo{
    margin: 20px 0;
    width: 33%;
}

.aba{
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.aba-option{
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    outline:none; 
    border:none;
    background-color: Transparent;
    cursor: pointer;
}

.aba-option.active{
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.aba-option.active:after{
    text-decoration: none;
    position: absolute;
    bottom: -10px;
    left:0;
    content: '';
    height: 3px;
    width: 100%;
    background-color: blue;
    transition: -1s;
}

.aba hr{
    color: gray;
    margin: 7px 0;
}

.tab-content{
    display: none;
}
  
.tab-content.active {
    display: block;
}

.aba li{
    display:inline-block;
    border-bottom: 0;
}

.cadastro-contain{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cadastro-contain, .perfil-contain, .edita-contain{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.perfil-contain, .edita-contain{
    width: 45%;
}

.cadastro-contain{
    width: 20%;
}

.form-title{
    background-color: var(--my_blue);
    color: white;
    font-weight: bold;
    margin: 40px 0 0 0;
    padding: 10px 10px;
    border-radius: 5px 5px 0 0;
}

.form-subtitle{
    background-color: var(--my_blue);
    color: white;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 10px;
}

.cadastro-contain form, .edita-contain form{
    background-color: #d9d9d9;
    padding: 20px 0;
    border-radius: 0 0 5px 5px;
}

.form-control{
    margin-bottom: 10px;
}

.alert.alert-danger{
    color: red;
    margin: 10px 0;
}

.alert.alert-sucess{
    color: green;
    margin: 10px 0;
}

.btn{
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover{
    background-color: #45a049;
}

.perfil-info{
    background-color: #d9d9d9;
    padding: 10px 10px;
}

.conta-contain{
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.conta{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.btn-logout{
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 4%;
    margin-top: 40px;
    cursor: pointer;
}

.btn-logout:hover{
    background-color: rgb(226, 69, 69);
}

table{
    border-collapse: collapse;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  
th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
tr.total{
    font-weight: bold;
}
  
tr.total td{
    border-top: 2px solid #000;
}
  
th{
    background-color: #f2f2f2;
}
  
td{
    background-color: #fff;
}
  
td:nth-child(2),td:nth-child(3){
    text-align: center;
}

#carrinho-Vazio-Msg{
    text-align: center;
    color: #949494;
}

.btn-pagar{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.btn-confirmar-pagamento{
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
  
.btn-confirmar-pagamento:hover {
    background-color: #45a049;
}

.btn-confirmar-pagamento-contain{
    text-align: center;
}

input[type="radio"]:checked ~ .btn-confirmar-pagamento {
    display: block;
}

#carrinho-titulo{
    text-align: center;
}

.pagamento-contain{
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #d9d9d9;
}

.alert.alert-success.alert-dismissible.fade.show{
    background-color: rgb(133, 236, 133);
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.btn-close{
    background-color: transparent;
    border: None;
    color: gray;
    float: right;
    margin-right: 1%;
    cursor: pointer;
}

.content {
    display: none;
}

.confirma-pagamento-contain{
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin-top: 50px;
}
  
.confirma-pagamento-titulo {
    text-align: center;
}
  
.confirma-pagamento-contain  form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}
  

  
.confirma-pagamento-contain  .content {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.btn-disable{
    pointer-events: none;
    background-color: #d9d9d9;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn-delete{
    background-color: rgb(189, 79, 79);
    border-radius: 20px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn-delete:hover{
    background-color: red;
}

.home{
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.home-contain{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.home-item{
    width: 50%;
}

.imagem-home{
    width: 75%;
}