{% extends "index.html" %}
{% load static %}
{% block conteudo %}
<div>
    <h3 id="carrinho-titulo">Meu Carrinho</h3>
    <table>
      {% if itens %}
       <thead>
        <tr>
          <th>Item</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for item in itens %}
          <tr>
              <td>{{item.nome}}
                  {% if item.tamanho %}
                      ({{item.tamanho}})
                  {% endif %}
              </td>
              <td>{{item.qtd}}</td>
              <td>R${{item.preco}}</td>
              <td><button value="{{item.id}};{{item.tipo}}" class="btn-delete">-</button></td>
          </tr>
      {% endfor %}
        <tr class="total">
          <td colspan="2">Total</td>
          <td>R${{total}}</td>
        </tr>
      </tbody>
      {% else %}
        <tr>
          <th id="carrinho-Vazio-Msg">- Vazio -</th>
        </tr>
      {% endif %}
      </table>
      <div class="btn-pagar">
        <a class="btn" href="{% url 'cardapio' %}">Continuar comprando</a>
        {% if itens %}
          <a class="btn" href="{% url 'pagar' %}">Pagar</a>
        {% else %}
          <a class="btn-disable">Pagar</a>
        {% endif %}
      </div>
      
</div>

<script src="{% static 'carrinho.js' %}"></script>

{% endblock %}