{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{% static 'logo.png' %}" type="image/png">
        <title>Pizzaria Mamma Mia</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div id="titulo-navegacao">
            <div id="titulo">
                <img src="{% static 'logo.png' %}" alt="Logo">
                <h1>Pizzaria Mamma Mia</h1>
            </div>
            <div id="navegacao">
                <a href="{% url 'home' %}">HOME</a>
                <a>PEDIR PIZZA</a>
                <a href="{% url 'cardapio' %}">CARDAPIO</a>
                <a>COMBOS</a>
                <a href="{% url 'login' %}">LOGIN</a>
                <a>CARRINHO</a>
            </div>
        </div>
        {% block conteudo %}{% endblock %}
    </body>
</html>